*
!Documents
!Templates
!.screenlayout
!.icons
!.config/starship.toml
!.config/user_dirs.dirs
!.config/mimeapps.list
!.config/redshift
!.config/picom
!.config/pcmanfm
!.config/nnn
!.config/nitrogen
!.config/networkmanager-dmenu
!.config/neofetch
!.config/gtk-3.0
!.config/awesome
!.config/autostart
!.config/alacritty
!.config/libfm
